@import "_variables.sass"

.features
    
    padding: 10rem 7rem
    &__box
        display: grid
        padding: 5rem 0
        grid-template-areas: 1fr 1fr
        gap: 5rem
        &-left
            grid-column: 1/2
        &-right
            
            grid-column: 2/3
        img
            width: 100%