@import "_variables.sass"
.lazy-img
    filter: blur(2rem)

.features
    max-width: 110rem
    margin: 0 auto
    padding: 10rem 0 15rem
    &__box
        .green
            display: block
            margin: 0 auto 
        display: grid
        padding: 5rem 0
        grid-template-columns: 1fr 1fr 
        align-items: center
        gap: 5rem
        &-left
            grid-column: 1/2
        &-right
            
            grid-column: 2/3
        img
            width: 100%
        