@import "_variables.sass"

.feedback
    
    p
        line-height: 2.5rem
    padding: 10rem
    &__header
        padding: 10rem 10rem 5rem
    &__box
        display: grid
        grid-template-columns: min-content 1fr min-content
        align-items: center
        gap: 3rem
        padding: 0 10rem
        &-down
            padding: 5rem 0
            .title-gray
                padding: 0
            display: flex
        
            justify-content: center
            align-items: center
            img
                border-radius: 100%
                width: 7rem
                margin-right: 2rem
        &-moredown
            text-align: center
        &-pointer
            button
                cursor: pointer
                background-color: transparent
                border: none
                font-size: 3rem
                font-weight: 500
            