@import "_variables.sass"

.feedback
    .title-gray
            text-align: center
            font-weight: 500
    padding: 7rem 5rem
    &__header
        padding: 5rem 
    &__box
        display: grid
        grid-template-columns: min-content 1fr min-content
        align-items: center
        gap: 3rem
        .title-little
            font-size: 1.8rem
          
            line-height: 2.7rem
        &-down
            padding: 3rem 0 5rem
            
            display: flex
        
            justify-content: center
            align-items: center
           
            img
                border-radius: 100%
                width: 7rem
                margin-right: 2rem
        &-moredown
            text-align: center
        &-pointer
            button
                cursor: pointer
                background-color: #f0f0f093
                border: none
                font-size: 3rem

                font-weight: 500
                padding: 1rem
                border-radius: 50%
            