@import "_variables.sass"
.nav
    display: flex
    justify-content: space-between
    padding: 2rem
    align-items: center
    &__logo img
        width: 17rem
    &__links 
        a
            font-size: 1.8rem
            color: #444444
            margin-right: 3rem
            transition: 0.6s
            cursor: pointer
            text-decoration: none
        
    
