@import "_variables.sass"
@import "_nav.sass"
@import "_header.sass"
@import "_features.sass"
@import "_operations.sass"
@import "_feedback.sass"
@import "_footer.sass"


*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    font-family: 'Poppins', sans-serif
    color: #444444
    background-color: #F3F3F3
.container
    max-width: 120rem
    margin: 0 auto
    padding: 0 5rem
    

section
    border-bottom: 1px solid #ddd




@media (max-width:1080px)
    
    .header
        grid-template-columns: 1fr
        text-align: center
        img
            width: 70%
    .operations 
        padding: 10rem 
    .feedback
        padding: 15rem 3rem
        &__header 
            padding: 5rem
        &__box
            padding: 0  5rem
    .p-side
        padding: 0
@media (max-width:950px)
    .tittle-white
        font-size: 2.5rem
    .feedback
        padding: 15rem 0
        &__header 
            padding: 5rem 0
        &__box
            padding: 0
    .operations 
        padding: 10rem 0
    .three
        grid-row: 4/5
    .features__box
        text-align: center
        grid-template-columns: 1fr
        justify-content: center
        img
            width: 70%
        &-left
            grid-column: 1/-1
        &-right
            grid-column: 1/-1
@media (max-width:1200px)
     .button3
        grid-column: 1/-1
        
@media (max-width:600px)
    h1
        font-size: 3.5rem
    .title1
        font-size: 2.5rem
    .title2
        font-size: 2.5rem
    .container 
        padding: 0 2rem
    .operations__info 
        grid-template-columns:  1fr
    .footer__header
        padding: 7rem 2rem

         
.modal
    display: none
    position: fixed
    z-index: 101
    padding: 3rem 5rem
  
    left: 50%
    top: 50%
    backdrop-filter: blur(4px)
    transform: translate(-50%,-50%)
    background-color: white
    box-shadow: .5rem .5rem 4rem grey
    form
        display: flex
        flex-direction: column
        padding: 3rem 0
        justify-content: center
        gap: 2rem

    input
        padding: 1rem 2rem
        font-size: 2rem
        color: black
        width: 60%
        margin: 0 auto
        border: .1rem solid #444
        justify-self: center
    .next-step
        text-align: center
        
        

    .closed
        position: absolute
        right: 1rem
        top: 1rem
        background-color: transparent
        border: none
        font-size: 3rem
        cursor: pointer